@import "tailwindcss";

@layer utilities {
  @keyframes ticker {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-ticker {
    animation: ticker 26s linear infinite;
  }
}
